
body {
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
}

header {
    background-color: #004b87; 
    color: white;
    padding: 15px 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px;
}

nav {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #0014c5;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    padding: 5px;
    border: none;
    border-radius: 4px;
}

.search button {
    padding: 6px 12px;
    margin-left: 5px;
    border: none;
    border-radius: 4px;
    background-color: #0023e6;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search button:hover {
    background-color: #002ec7;
}

/* Menu Hamburger */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    height: 4px;
    width: 25px;
    background-color: white;
    margin: 3px 0;
}

/* Responsividade */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px; /* Distância do topo do cabeçalho */
        right: 0;
        background-color: #004b87;
        width: 100%;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }

    .search {
        margin-top: 10px;
        width: 100%;
        justify-content: center;
    }

    .search input {
        width: 70%;
    }
}